---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 3
---

<div class="container">
  {% set postsCount = collections.posts | length %}
  <div class="heading">
    <h2 class="title">
      Blog
      <sup>{{ postsCount }}</sup>
    </h2>
  </div>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>