---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 4
---

<section class="hero">
  <div class="about">
    <h2>About me</h2>
    <p>
      Hi, my name is Artyom, and I'm a frontend developer. I've been working in the field of information technology for over 4
      years, openly sharing my experience with others.
    </p>
    <p>
      Don't forget to check out my social media.
    </p>
    {% include "socials.njk" %}
  </div>
  <svg class="arrow-down" width="24" height="24">
    <use xlink:href="#arrow-down" href="#arrow-down"></use>
  </svg>
</section>
<section class="articles">
  <div class="container">
    {% set worksCount = collections.works | length %}
    <div class="heading">
      <h2 class="title">
        Works
        <sup>{{ worksCount }}</sup>
      </h2>
      <a class="more" href="/works/">All posts</a>
    </div>
    {% set postslist = collections.works | head(-1 * numberOfLatestPostsToShow) %}
    {% set postslistCounter = worksCount %}
    {% include "workslist.njk" %}
  </div>
  <div class="container">
    {% set postsCount = collections.posts | length %}
    <div class="heading">
      <h2 class="title">
        Blog
        <sup>{{ postsCount }}</sup>
      </h2>
      <a class="more" href="/blog/">All posts</a>
    </div>
    {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
    {% set postslistCounter = postsCount %}
    {% include "postslist.njk" %}
  </div>
</section>