---
layout: layouts/home.njk
eleventyNavigation:
  key: Works
  order: 2
---

<div class="container page">
  {% set worksCount = collections.works | length %}
  <div class="heading">
    <h2 class="title">
      Works
      <sup>{{ worksCount }}</sup>
    </h2>
  </div>
  {% set postslist = collections.works %}
  {% include "workslist.njk" %}
</div>