<ol reversed class="posts">
  {% for post in postslist | reverse %}
    <li class="posts-item">
      <a href="{{ post.url }}" class="posts-link">
        {% if post.data.title %}
          {{ post.data.title }}
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
      <p class="posts-description">{{ post.data.description }}</p>
      <time class="posts-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
    </li>
  {% endfor %}
</ol>