<ul class="socials">
	<li class="socials__item">
		<a href="http://" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
			<svg width="32" height="32" aria-hidden="true">
				<use xlink:href="#github" href="#github"></use>
			</svg>
		</a>
	</li>
	<li class="socials__item">
		<a href="http://" target="_blank" rel="noopener noreferrer" aria-label="CodePen">
			<svg width="32" height="32" aria-hidden="true">
				<use xlink:href="#codepen" href="#codepen"></use>
			</svg>
		</a>
	</li>
	<li class="socials__item">
		<a href="http://" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
			<svg width="32" height="32" aria-hidden="true">
				<use xlink:href="#youtube" href="#youtube"></use>
			</svg>
		</a>
	</li>
	<li class="socials__item">
		<a href="http://" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
			<svg width="32" height="32" aria-hidden="true">
				<use xlink:href="#linkedin" href="#linkedin"></use>
			</svg>
		</a>
	</li>
</ul>
